---
import Layout from '../../layouts/Layout.astro'

// Components
import ArticleCard from '../../components/home/ArticleCard.astro'

const allArticles = await Astro.glob('./*.md')
---

<Layout title='Articles'>
  <div class='pt-32 page-container'>
    <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6'>
      {
        allArticles.map((article) => (
          <ArticleCard
            url={article.url}
            title={article.frontmatter.title}
            description={article.frontmatter.description}
            img_scr={article.frontmatter.img_src}
            img_alt={article.frontmatter.img_alt}
            tags={article.frontmatter.tags}
            date={article.frontmatter.date}
          />
        ))
      }
    </div>
  </div>
</Layout>
