---
import Layout from '../../layouts/Layout.astro'

// Components
import ArticleCard from '../../components/home/ArticleCard.astro'

// Data
const allArticle = await Astro.glob('./*.md')
const allArticles = (await Astro.glob('../**/*.md')).filter(
  (p) => p.url.startsWith('/articles') || p.url.startsWith('/foods')
)

// || p.url.startsWith('/')
const nonDraftPosts = allArticles.filter((post) => !post.frontmatter.draft)
---

<Layout title='Blog'>
  <div class='page-container'>
    <h1 class='text-4xl font-bold mt-6'>Articles</h1>
    <p class='text-base text-gray-500 my-6 max-w-3xl'>
      Discover Diber's charms with engaging blog posts on travel, cuisine, and exciting events & activities. 
      Experience the region's hidden gems, flavors, and cultural celebrations firsthand. Let Diber enchant you!
    </p>
    <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-20'>
      {
        nonDraftPosts.map((article) => (
          <ArticleCard
            url={article.url}
            title={article.frontmatter.title}
            description={article.frontmatter.description}
            img_scr={article.frontmatter.img_src}
            img_alt={article.frontmatter.img_alt}
            tags={article.frontmatter.tags}
            date={article.frontmatter.date}
            author_name={article.frontmatter.author}
          />
        ))
      }
    </div>
  </div>
</Layout>
