---
// Layout
import Layout from '../../layouts/Layout.astro'

// components
import ArticleCard from '../../components/home/ArticleCard.astro'

export async function getStaticPaths() {
  const allArticles = await Astro.glob('../articles/*.md')

  return [
    { params: { author: 'Alex Sessums' }, props: { articles: allArticles } },
    { params: { author: 'Lorem ipsum' }, props: { articles: allArticles } },
  ]
}

const { author } = Astro.params
const { articles } = Astro.props

const filteredArticles = articles.filter((article) =>
  article.frontmatter.author?.includes(author)
)
---

<Layout title={`Articles written by ${author}`}>
  <div class='page-container w-full'>
    <h1 class='text-3xl md:text-4xl font-bold my-6'>
      Articles written by <span class='italic text-lime-600'>{author}</span>
    </h1>
    <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6'>
      {
        filteredArticles.map((article) => (
          <ArticleCard
            url={article.url}
            title={article.frontmatter.title}
            description={article.frontmatter.description}
            img_scr={article.frontmatter.img_src}
            img_alt={article.frontmatter.img_alt}
            tags={article.frontmatter.tags}
            date={article.frontmatter.date}
            author_name={article.frontmatter.author}
          />
        ))
      }
    </div>
  </div>
</Layout>
