---
import ArticleCard from '../../components/home/ArticleCard.astro'
import Layout from '../../layouts/Layout.astro'

export async function getStaticPaths() {
  const allArticles = await Astro.glob('../articles/*.md')

  return [
    { params: { tag: 'location' }, props: { articles: allArticles } },
    { params: { tag: 'food' }, props: { articles: allArticles } },
    { params: { tag: 'culture' }, props: { articles: allArticles } },
    { params: { tag: 'trail' }, props: { articles: allArticles } },
  ]
}

const { tag } = Astro.params
const { articles } = Astro.props

const filteredArticles = articles.filter((article) =>
  article.frontmatter.tags?.includes(tag)
)
---

<Layout title={`Posts tagged with ${tag}`}>
  <div class='pt-32 page-container'>
    <h1 class='text-3xl md:text-4xl font-bold my-6'>
      Articles tagged with <span class='italic text-lime-600'>{tag}</span>
    </h1>
    <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6'>
      {
        filteredArticles.map((article) => (
          <ArticleCard
            url={article.url}
            title={article.frontmatter.title}
            description={article.frontmatter.description}
            img_scr={article.frontmatter.img_src}
            img_alt={article.frontmatter.img_alt}
            tags={article.frontmatter.tags}
          />
        ))
      }
    </div>
  </div>
</Layout>
