---
// Components
import { Image } from '@astrojs/image/components'
import SectionContent from '../SectionContent.astro'
import ActivityCard from './ActivityCard.astro'
import Button from '../Button.astro'

// All activities
const allActivityTypes = await Astro.glob('../../pages/activities/**/*.md')
const allActivites = await Astro.glob('../../pages/activities/**/*.md')
const number_of_activities_shown = 3
---

<div class='relative'>
  <div class='page-container'>
    <SectionContent
      title='Outdoor Activities & More'
      subtitle='Things to do'
      section_color='red'
      icon_src='/icons/activities_icon.svg'
      text_position='center'
    >
      Diber offers an active vacation with hiking, mountain climbing, river
      rafting, and swimming opportunities. Embrace adventure amidst stunning
      landscapes and create unforgettable memories. Plan your action packed
      getaway in Diber today!
    </SectionContent>

    <!-- Activities Cards -->
    <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-12'>
      {
        allActivityTypes
          .filter(
            (activityType) => activityType.frontmatter.type === 'index_page'
          )
          .map((activityType) => (
            <ActivityCard
              activity_url={activityType.url}
              activity_name={activityType.url.split('/activities/').pop()}
              description={activityType.frontmatter.description}
            >
              <div class='h-52 overflow-hidden rounded-lg mb-6'>
                <Image
                  class='object-cover w-full h-full'
                  src={activityType.frontmatter.img_src}
                  alt={activityType.frontmatter.img_alt}
                  width={800}
                  height={600}
                  format='avif'
                />
              </div>
              <h2 class='text-xl font-bold'>Explore more:</h2>

              {/* activities list */}
              {allActivites
                .filter(
                  (article) =>
                    article.frontmatter.type ===
                    activityType.url.split('/activities/').pop()
                )
                .slice(0, number_of_activities_shown)
                .map((article) => (
                  <div class=' bg-gray-300/50 rounded-full hover:bg-gray-300 transition-colors duration-200'>
                    <a
                      class='flex justify-between items-center text-gray-600 px-5 py-2 rounded-full'
                      href={article.url}
                    >
                      {article.frontmatter.title}
                      {article.frontmatter.new && (
                        <div class='bg-red-600 rounded-md text-white text-xs font-bold px-2 py-1'>
                          NEW
                        </div>
                      )}
                    </a>
                  </div>
                ))}
            </ActivityCard>
          ))
      }
    </div>
    <Button className='mt-6 mx-auto' href='' btnColor='red' rounded>
      Learn More
    </Button>
  </div>

  <!-- Background Icon -->
  <Image
    class='bg-icons'
    src='/icons/activities_icon_bg.svg'
    width={677 / 1.3}
    height={1289 / 1.3}
    alt='background_icon'
    format='svg'
  />
</div>
