---
// Components
import Card from '../Card.astro'
import { Image } from '@astrojs/image/components'

// Function
import { formatDate } from '../../functions/utils.js'

// Props
export interface Props {
  title: string
  description: string
  img_scr: string
  img_alt: string
  url: string
  date: string
  author: string
  tags?: Array<string>
  className?: string
}

const {
  className,
  title,
  description,
  img_scr,
  img_alt,
  url,
  tags,
  date,
  author,
} = Astro.props
---

<Card hasPadding={false}>
  <a href={url}>
    <Image
      class='object-cover w-full h-56'
      src={img_scr}
      width={500}
      height={300}
      format='avif'
      alt={img_alt}
    />
    <div class='p-6'>
      <div class='flex gap-6 items-center'>
        {
          author && (
            <div class='flex gap-2 items-center opacity-80 mb-3'>
              <img
                src='/icons/author_icon.svg'
                alt=''
                height='30px'
                width='30px'
              />
              <p class='text-base text-gray-500'>{author}</p>
              
            </div>
          )
        }
        {
          date && (
            <div class='flex gap-2 items-center opacity-80 mb-3'>
              <img
                src='/icons/date_icon.svg'
                alt=''
                height='28px'
                width='28px'
              />
              <p class='text-base text-gray-500'>{formatDate(date)}</p>
            </div>
          )
        }
      </div>
      <h2 class='text-xl font-bold mb-1'>{title}</h2>
      <p class='text-base text-gray-500'>
        {description.slice(0, 100) + '...'}
      </p>
      <div class='mt-2'>
        {
          tags &&
            tags.map((tag) => (
              <a
                href={`/tags/${tag}`}
                class='mr-2 mb-2 inline-block px-4 py-1 bg-gray-400/20 hover:bg-gray-400/30 text-gray-600/80 rounded-full'
              >
                {tag}
              </a>
            ))
        }
      </div>
    </div>
  </a>
</Card>
