---
// Components
import { Image } from '@astrojs/image/components'
import Card from './Card.astro'

// Props
export interface Props {
  title: string
  description: string
  img_src: string
  img_alt: string
  distance: number
  height: number
  time: number
  file_src: string
  map_color: color
}

type color =
  | 'green'
  | 'orange'
  | 'yellow'
  | 'red'
  | 'purple'
  | 'blue'
  | 'dark-blue'
  | 'gray'

const {
  title,
  description,
  img_src,
  img_alt,
  distance,
  height,
  time,
  file_src,
  map_color,
} = Astro.props

let colorClass = ''
let btnColor = ''

switch (map_color) {
  case 'green':
    colorClass = 'border-lime-500'
    btnColor = 'bg-lime-500'

    break
  case 'orange':
    colorClass = 'border-orange-500'
    btnColor = 'bg-orange-500'

    break
  case 'blue':
    colorClass = 'border-sky-500'
    btnColor = 'bg-sky-500'

    break
  case 'red':
    colorClass = 'border-red-500'
    btnColor = 'bg-red-500'

    break
  case 'yellow':
    colorClass = 'border-yellow-500'
    btnColor = 'bg-yellow-500'

    break
  case 'purple':
    colorClass = 'border-violet-600'
    btnColor = 'bg-violet-600'

    break
  case 'dark-blue':
    colorClass = 'border-indigo-900'
    btnColor = 'bg-indigo-900'

    break
  case 'gray':
    colorClass = 'border-gray-500'
    btnColor = 'bg-gray-500'

    break

  default:
    colorClass = 'border-gray-400'
    btnColor = 'bg-gray-400'

    break
}
---

<Card hasPadding={false}>
  <!-- Image & stats -->
  <div class='relative'>
    <Image
      class='h-52 md:h-56 object-cover w-full bg-gray-300'
      src={img_src}
      height={300}
      width={400}
      alt={img_alt}
      format='avif'
    />
    <div
      class='absolute top-0 left-0 h-full w-full p-6 bg-gradient-to-r from-gray-900/80 from-10%'
    >
      <div class='flex flex-col gap-5 justify-center h-full'>
        <div class='flex items-center gap-2'>
          <img
            src='/icons/maps/distance_icon.svg'
            alt=''
            height='32px'
            width='32px'
          />
          <p class='text-lg text-gray-100 font-bold'>{`${distance} km`}</p>
        </div>
        <div class='flex items-center gap-2'>
          <img
            src='/icons/maps/height_icon.svg'
            alt=''
            height='32px'
            width='32px'
          />
          <p class='text-lg text-gray-100 font-bold'>{`${height} m`}</p>
        </div>
        <div class='flex items-center gap-2'>
          <img
            src='/icons/maps/time_icon.svg'
            alt=''
            height='32px'
            width='32px'
          />
          <p class='text-lg text-gray-100 font-bold'>{`${time} hours`}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Content -->
  <div class={`p-6 border-l-8 ${colorClass} flex items-center gap-3`}>
    <div>
      <h2 class='text-xl font-bold mb-1'>{title}</h2>
      <p class='text-base text-gray-500'>
        {description}
      </p>
    </div>
    <a
      download
      href={file_src}
      title='Download'
      class={`h-[48px] min-w-[48px] ${btnColor} rounded-full flex justify-center items-center hover:opacity-80 transition-opacity duration-300 cursor-pointer`}
    >
      <img src='/icons/download_icon.svg' alt='' height='24px' width='24px' />
    </a>
  </div>
</Card>
